/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/*
The wght@450 part is the font weight.
If you want less or more boldness, decrease or increase this number.
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@450&display=swap");

pre, code, .blob-code, .blob-code-marker {
  font-family: 'Fira Code', monospace !important;
}

 <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link rel=' href='css' type='text' />


<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>

}
#dropdown{
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    text-align: left;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 390px;
}
#icon{
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu_back1{
    background-color: #808080;
}
.menu_back2{
    background-color: #404040;
}
